.link-style{
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(38, 65, 65) , aqua);
    color: white;
    margin: 10px;
    padding: 10px;
    display: block;
    border-radius: 10px;
}
.link-style :hover{
    color: rgb(85, 25, 37);
    font-weight: 900;
}